#scoreboard-table{
    background-color: #000a56;
    margin: 20px;
    border-spacing: 0px;
    border-collapse: collapse;
}
#scoreboard-table thead{
    font-size: 28px;
}
#scoreboard-table td, #scoreboard-table th{
    padding: 5px;
}
#scoreboard-table thead th{
    border-style: solid;
}
#scoreboard-table tbody{
    font-size: 24px;
}
#scoreboard-table td {
    border-style: dotted;
}
.sort-buttons{
    margin-top: 10px;
}
.sort-buttons button{
    font-size: 22px;
    padding: 10px;
}
.sort-buttons .sort-button.active{
    scale: 0.93;
    transition: all 0.3s ease;
    background-color: #fbf481;
    color: #fba92c;
}