:root{
    --dark_blue: #000a56;
}
@font-face {
    font-family: 'UpHealval';
    src: url(./../assets/upheavtt.ttf);
}
html, body, h1, h2{
    font-family: 'UpHealval', sans-serif;
    font-weight: 100;
}
body{
    margin: 0;
}
button, .btn{
    text-transform: uppercase;
    font-family: inherit;
    font-size: 28px;
    padding: 10px;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.arrow{
    width: 40px;
    transition: transform 0.5s ease;
}
.arrow.rotated {
    transform: rotate(180deg);
}
/* Add player form*/
.add_player{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.add_player #add-local-overlay{
    display: flex;
    cursor: pointer;
    background-color: #000a56;
    padding: 20px;
    box-shadow: 0px 0px 8px #000a56;
    flex-direction: row;
    align-items: center;
}
.add_player #add-local-overlay h2{
    margin: 0;
}
.add_player .opening_content{
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 8px #000a56;
}
.add_player .form {
    max-width: 360px;
}
.add_player .form input {
    outline: 0;
    background: #000a56;
    color: #fbf481;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.add_player .form input::placeholder {
    color: #fbf581a1;
}
.add_player .form button {
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    background-color: #c88828;
    color: #fbf481;
    font-size: 16px;
    transition: all 0.3 ease;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.add_player .form button:hover{
    background-color: #FFB300;
}
.add_player .form .message {
    margin: 15px 0 0;
    color: #fbf481;
    font-size: 12px;
}
.add_player .form .message a {
    color: #e39c33;
    text-decoration: none;
}
/* END add player form */
/* Current players */
.logout-buttons{
    display: flex;
}
.logout-buttons>form {
    margin: 0 10px;
}
.join-online-queue{
    margin-bottom: 15px;
}
.current-players{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    align-items: flex-end;
    width: 609px;
    background: var(--dark_blue);
}
.player{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
}
.player p{
    font-size: 20px;
}
.player-img{
    height: 25px;
    margin-left: 10px;
}
#current-player-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 50px;
}
.current-player-text{
    width: 100%;
    font-size: 18px;
}
.half-width-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
#current-player-img{
    flex: 0 0 35px;
}
#current-player-name{
    flex: 0 0 calc(100% - 35px);;
}
#current-player-img{
    height: 30px;
}
#current-player-img img{
    padding: 2px;
    max-height: calc(100% - 5px);
}
#current-player-name{
    font-size: 18px;
}
#current-player-info > div{
    margin: 2px 0px;
}
.change-players{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.change-players form{
    padding: 20px;
}
.change-players form button{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    height: 24px;
}
.change_players_img{
    height: 24px;
    transition: all 0.3s;
}
.change_players_img:hover {
    opacity: 0.8;
}
.change_players_img:active{
    scale: 0.95;
}
/* END Current Players */
/* Game result overlay */
#game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99999;
}
.game-overlay-container{
    display: flex;
    width: 50vw;
    height: 60vh;
    background-color: #0518a9;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 20px 4px #FFB300;
}
#game-result-message {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.game-result-image{
    background-color: #fffbbf;
    padding: 5px;
    width: 40px;
    border-radius: 5px;
    margin-right: 5px;
}
#confetti-canvas{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
/* Board */
#big-board {
    display: grid;
    grid-template-columns: repeat(3, 190px);
    grid-gap: 10px;
}
#big-board .X{
    background-image: url(../images/X.png);
}
#big-board .O{
    background-image: url(../images/O.png);
}
.small-board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 63px);
}
.cell {
    width: 63px;
    height: 63px;
    text-align: center;
    vertical-align: middle;
}
.player-image {
    max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);
    padding: 5px;
}
.winner-overlay, .draw-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 10;
}
.winner-image {
    max-width: 100%;
    max-height: 100%;
}
.oldSchool-mode .selectable-cell{
    cursor: pointer;
}
/* End Board */

/* Testsession */
/* .join-online-queue, .menu ul li:nth-child(n+3), #friendListContainer{
    display: none;
} */